---
import PageLayout from "@/layouts/Base.astro";
import { Icon } from "astro-icon/components";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			I’m Adhnan, a software developer from Kerala, India, specializing in full-stack development. I
			enjoy creating responsive, user-friendly web applications from front to back. I am experienced
			in coding and deploying websites for businesses. Contact me if there is anything i can do for
			you.
		</p>
		<p><strong>Skills:</strong></p>
		<ul class="list-inside list-disc" role="list">
			<li><strong>Backend:</strong> Java Spring boot, JDBC, Hibernate, Firebase</li>
			<li><strong>Frontend:</strong> Html, CSS, Javasript, React JS, Bootstrap, Tailwind CSS</li>
			<li><strong>Database:</strong> MySQL, Postgres, Firestore, Firebase Realtime Database</li>
			<li>
				<strong>Others:</strong> Python, Git, Software Testing, Web Hosting, Video Editing, etc.
			</li>
		</ul>

		<a
			class="cactus-link inline-flex items-center justify-center gap-2 text-lg font-bold text-blue-600 hover:underline"
			href="/AdhnanAshkarCV.pdf"
			download
		>
			<Icon name="mdi:download" class="h-5 w-5" aria-hidden="true" />
			<span>Download CV</span>
		</a>
	</div>
</PageLayout>
