---
import { Icon } from "astro-icon/components";

/** 
	Uses https://www.astroicon.dev/getting-started/
	Find icons via guide: https://www.astroicon.dev/guides/customization/#open-source-icon-sets
	Only installed pack is: @iconify-json/mdi
*/
const socialLinks: {
	friendlyName: string;
	isWebmention?: boolean;
	link: string;
	name: string;
}[] = [
	{
		friendlyName: "Github",
		link: "https://github.com/adhnan-ck",
		name: "mdi:github",
	},
	{
		friendlyName: "Instagram",
		link: "https://www.instagram.com/adhnan_ck",
		name: "mdi:instagram",
	},
	{
		friendlyName: "YouTube",
		link: "https://www.youtube.com/@adhnanck6209",
		name: "mdi:youtube",
	},
	{
		friendlyName: "LinkedIn",
		link: "https://www.linkedin.com/in/adhnan-ck-79685a31b/",
		name: "mdi:linkedin",
	},
	{
		friendlyName: "Typing",
		link: "https://monkeytype.com/profile/adhnan_ck",
		name: "mdi:keyboard",
	},
	{
		friendlyName: "LeetCode",
		link: "https://leetcode.com/u/adhnan_ck/",
		name: "mdi:code-tags",
	},
	{
		friendlyName: "Chess",
		link: "https://www.chess.com/member/adhnan_ck/stats/rapid",
		name: "mdi:chess-king",
	},
	{
		friendlyName: "Email",
		link: "mailto:adhnanck07@email.com",
		name: "mdi:email",
	},
];
---

<div class="flex flex-wrap items-end gap-x-2">
	<p>Find me on</p>
	<ul class="flex flex-1 items-center gap-x-2 sm:flex-initial">
		{
			socialLinks.map(({ friendlyName, isWebmention, link, name }) => (
				<li class="flex">
					<a
						class="hover:text-link inline-block"
						href={link}
						rel={`noreferrer ${isWebmention ? "me authn" : ""}`}
						target="_blank"
					>
						<Icon aria-hidden="true" class="h-8 w-8" focusable="false" name={name} />
						<span class="sr-only">{friendlyName}</span>
					</a>
				</li>
			))
		}
	</ul>
</div>
